.market-container
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.label {
    border-top: 1px solid #433F3F;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 1em;
    color: white;
    
}

.label>p {
    margin: 0;
    width: 15%;
}

.market {
    width: 15%;
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.market img{
    height: 2.1em;
}